DATABASE_URL=postgresql://postgres:your-password-here@localhost:5432/your-database-name-here
SECRET_KEY=your-random-secret-key-here
ALGORITHM=your-algorithm-here
ACCESS_TOKEN_EXPIRE_MINUTES=your-expire-minutes-here